*.jpg
*.png

# Ignore Python bytecode cache
**/__pycache__/
*.py[cod]

.vscode/*

*.egg-info/
*.egg
.env
.venv
venv/
.pytest_cache/
*.log

results/*
!results/.gitkeep

**/data/**
!Benchmarks/RAILBENCH_Object/data/.gitkeep
!Benchmarks/RAILBENCH_Rail/data/.gitkeep
!Benchmarks/RAILBENCH_Tracking/data/.gitkeep
**/results/**

**/error_log.txt
